<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
<p th:text="'Данные пользователя ' + ${user.getUsername()}"></p>
<p th:text="'Имя: ' + ${user.getFirstname()}"></p>
<p th:text="'Фамилмя: ' + ${user.getLastname()}"></p>
<p th:text="'Отчесво: ' + ${user.getPatronymic()}"></p>
<p th:text="'Почта: ' + ${user.getEmail()}"></p>
<div>
    <button onclick="location.href = '/';">На главную</button>
</div>
</body>
</html>